@import "../helpers/_vars";

.layout {
  &.bar-chart {
    padding: 1.5rem;
    &.theme-light {
      $bar-item-gap: 1.5rem;
      .bar-item {
        + .bar-item {
          margin-left: $bar-item-gap;
        }
        &:first-child,
        &:nth-child(2) {
          flex-basis: 31.914893617021277%; //120px
        }
        &.bar-item--yellow {
          background: linear-gradient(180deg, #fff2d1 0.82%, #ffd66c 100%);
          box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
            inset 0px 0px 20px rgba(255, 176, 57, 0.8);
        }
        &.bar-item--grey {
          background: linear-gradient(
            180deg,
            rgba(244, 244, 244, 0.9) 0.82%,
            #e9e9e9 100%,
            rgba(234, 234, 234, 0) 100%
          );
          box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
            inset 0px 0px 20px rgba(207, 207, 207, 0.5);
        }
      }
    }
  }
  &__bars-chart {
    $bar-item-gap: 0.375rem;
    @extend .d-flex;
    justify-content: space-between;
    margin: 0 -$bar-item-gap;
    .bar-item {
      flex: 1;
      flex-basis: 10.638297872340426%; //40px
      height: 7.5rem;
      border-radius: 6px;
      min-width: 10.638297872340426%;
      min-height: 18.75rem;
      + .bar-item {
        margin-left: $bar-item-gap;
      }
      &:first-child,
      &.bar-item--half {
        flex-basis: 31.914893617021277%; //120px
      }

      &:nth-child(2) {
        flex-basis: 29.25531914893617%; //110px
      }
      &:nth-child(3),
      &:nth-child(4) {
        @extend .bar-item;
      }

      &.bar-item--yellow {
        background: radial-gradient(
          81.14% 100% at 50% 0%,
          #ffa300 0%,
          #2d1c00 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
          inset 0px 6px 15px rgba(255, 162, 0, 0.5);
      }
      &.bar-item--black {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          radial-gradient(
            149.08% 93.3% at 38.75% 72.1%,
            #000000 0%,
            #231900 0.01%,
            #4d4d4d 100%
          );

        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2),
          inset 2px 2px 16px rgba(103, 103, 103, 0.6);
      }
    }
  }
}
