@import "../helpers/_vars";

.layout {
  &.favicon {
    min-height: 6rem;
  }
  &__favicon {
    @extend .d-flex;
    align-items: center;
    justify-content: center;
  }
  .icon-fav {
    + .icon-fav {
      margin-left: 1rem;
    }
  }
}
