@import "../helpers/_vars";

.layout {
  &.colors {
    min-height: 5.5625rem;
  }
  &__colors {
    @extend .d-flex;
    align-items: center;
    justify-content: space-between;

    .block {
      width: 41px;
      height: 41px;
      @extend .d-flex;
      border-radius: 4px;
      @include border(2, solid, $transparent);
      &.has-border {
        @include border(2, solid, $white);
      }
    }
  }
}

// bg-colors

.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
.bg-grey-light {
  background-color: $grey-light;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-grey {
  background-color: $grey;
}
