@import "../helpers/_vars";

.layout {
  .devider {
    opacity: 0.3;
    background-color: $grey;
    &--horizontal {
      height: 2px;
      @extend .row;
    }
    &--vertical {
      width: 2px;
      height: 100%;
    }
  }
  &.devider-line,
  &__devider {
    @extend .d-flex;
  }

  &__devider {
    @extend .row;
    align-items: center;
  }
}
.theme-light {
  .devider {
    background-color: $grey-light;
  }
}
