@import "./_vars";

// bg-colors
.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
.bg-grey-light {
  background-color: $grey-light;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-grey {
  background-color: $grey;
}
