@import "./helpers/layout";

html {
  font-size: $font-size; // 1rem = 16px
}

body {
  @extend .text;
  color: $white;
  @extend .container;
  height: 100%;
  background-color: $bg-default;
  &.theme-dark {
    color: $white;
  }
  &.theme-light {
    color: $black;
  }
}

.stories-layout {
  @extend .container;
  margin: 1.5rem auto;
}
.wrap {
  @extend .container;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-layout {
  @extend .d-flex;
  + .grid-layout {
    margin-top: 2rem;
  }
  .column {
    @extend .d-flex;
    @extend .d-column;
    align-items: center;
    flex: 1;
  }
}

.layout {
  width: 376px;
  @extend .theme-dark;
  padding: 1.5rem;
  border-radius: 6px;
  + .layout {
    margin-top: 2rem;
  }
}

// templates
@import "./components/_tmpl-colors";
@import "./components/_tmpl-typography";
@import "./components/_tmpl-bar-chart";
@import "./components/_tmpl-people-data";

// responsive layout
@import "./helpers/_media";
