@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  list-style-type: none;
}

img {
  border-style: none;
}

form fieldset {
  border: none;
  padding: 0;
}

ul,
ol,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
input:hover,
label:hover,
select:hover,
textarea:hover,
button:hover {
  cursor: pointer;
}

a:focus, a:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-webkit-input-placeholder {
  color: #bfbfbf;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
  color: #bfbfbf;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: auto;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #fcfbf7;
  width: 100%;
  height: 100vh;
  margin: 60px auto;
}

body.theme-dark, body, body.layout {
  color: #fcfbf7;
}

body.theme-light {
  color: #261c00;
}

.layout {
  width: 376px;
  padding: 24px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout--colors {
  height: 89px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
* default theme - dark
*/
.theme-dark, body, .layout {
  background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%) repeat-y;
}

.theme-light {
  background: #fcfbf7;
}

.block-colors {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.bg-black {
  background-color: #261c00;
}

.bg-white {
  background-color: #fcfbf7;
}

.bg-grey-light {
  background-color: #bfbfbf;
}

.bg-yellow {
  background-color: #f4b000;
}

.bg-grey {
  background-color: #918f8a;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*# sourceMappingURL=style.css.map */